
		<article class="one" id="yingting">
		 <h1>影厅管理</h1>
            <div class="usually">
        
    <form action="<?php echo site_url('admin/home/add') ?>" method="POST">
    <div class="title">
     <p>添加</p>
     <span class="return" onclick="fanhui();">返回</span><script type="text/javascript">
           function fanhui() {
           	 window.history.go(-1);
           }
    </script>
     </div>
     <div class="form">
      <label for="name">影厅名称</label><input type="text" name="h_name" class="addId" id="name"><br>
       <label for="col">cols</label><input type="text" name="cols" class="addId" id="col"><br>
       <label for="row">rows</label><input type="text" name="rows" class="addId" id="row"><br>
      <input type="submit" value="保存"  class="addsave">
      </div>
      </form>
  
   </div>
	</article>
