<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url() . 'style/'?>style.css">
</head>
<body>
<header>
     <h1>
        剧院管理系统
      <b class="login">当前用户<span>张三</span></b>
      <b style="cursor: pointer;">登录</b>
     </h1>
	</header>
	<section>
	<nav>
		<ul class="aside">
			 <li class="active" ><a href="<?php echo site_url('admin/home/index') ?>">影厅管理</a></li>
      <li><a href="<?php echo site_url('admin/play/index') ?>">剧目管理</a></li>
      <li ><a href="<?php echo site_url('admin/show_plan/index') ?>">演出计划管理</a></li>
      <li ><a href="<?php echo site_url('admin/ticket/index') ?>">票务管理</a></li>
      <li ><a href="<?php echo site_url('admin/user/index') ?>">用户管理</a></li>
		</ul>
		<article class="one" id="yingting">
		 <h1>影厅管理</h1>
            <div class="usually">
        
    <form action="<?php echo site_url('admin/home/add') ?>" method="POST">
    <div class="title">
     <p>添加</p>
     <span class="return" onclick="fanhui();">返回</span><script type="text/javascript">
           function fanhui() {
           	 window.history.go(-1);
           }
    </script>
     </div>
     <div class="form">
      <label for="name">影厅名称</label><input type="text" name="h_name" class="addId" id="name"><br>
       <label for="col">cols</label><input type="text" name="cols" class="addId" id="col"><br>
       <label for="row">rows</label><input type="text" name="rows" class="addId" id="row"><br>
      <input type="submit" value="保存"  class="addsave">
      </div>
      </form>
  
   </div>
	</article>
	</nav>
	</section>
</body>
</html>