
	<form action="<?php echo site_url('admin/home/edit_YT') ?>" method="POST">
	<tr><td><h2>编辑影厅信息</h2></td></tr>
	<tr>
		<td>影厅名称</td>
		<td><input type="text" name="h_name" value="<?php echo $check [0]['h_name'] ?>" /></td></p>
		<td>座位的总行数</td>
		<td><input type="text" name="rows" value="<?php echo $check [0]['rows'] ?>" /></td></p>
		<td>座位的总列数</td>
		<td><input type="text" name="cols" value="<?php echo $check [0]['cols'] ?>" /></td></p>
	</tr><pre></pre>
		<input type="hidden" name="h_id" value="<?php echo $check[0]['h_id'] ?>" />
    	<input type="submit" value="编辑"/>
	</form>
</body>
</html>