<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('style/style.css') ?>">

</head>
<body>
	<header>
      <b class="login"><span><?php echo  $_SESSION['u_name']; ?>
          <p>
            退出
          </p>
      </span></b>
      <!-- <b style="cursor: pointer;">登录</b> -->
      <h1>剧院管理系统</h1>
  </header>
	<section>
	<nav>
		<ul class="aside">
			 <li ><a href="<?php echo site_url('admin/home/index') ?>">影厅管理</a></li>
      <li><a href="<?php echo site_url('admin/play/index') ?>">剧目管理</a></li>
      <li class="active"><a href="<?php echo site_url('admin/show_plan/index') ?>">演出计划管理</a></li>
      <li ><a href="<?php echo site_url('admin/ticket/index') ?>">票务管理</a></li>
      <li ><a href="<?php echo site_url('admin/user/index') ?>">用户管理</a></li>
		</ul>
		<article class="one" id="yingting">
		 <h1>计划管理</h1>
              <div class="table">
              <input type="button" value="+ 添加计划" onclick="add();" id="add"></input>
               <script type="text/javascript">
  
                 function add(){
                 
            
                      window.location.href="<?php echo site_url() . '/admin/show_plan/add'?>";
              
              
               }
               </script>
               <table>
                  <thead>
                    <th>计划ID</th>
                    <th>所在影厅</th>
                    <th>演出剧目</th>
                    <th>演出开始时间</th>
                    <th>演出结束时间</th>
                    <th>票数</th>
                    <th>操作</th>
                  </thead>
                  <tbody>
                  <!-- <?php var_dump($show_plan)?> -->
                      <?php foreach($show_plan as $v): ?>
                    <tr>
                      <td><?php echo $v['s_id'] ?></td>
                      <td><?php echo $v['h_name']?></td>
                      <td><?php echo $v['p_name']?></td>
                      <td><?php echo $v['up_time']?></td>
                       <td><?php echo $v['down_time']?></td>
                       <td><?php echo $v['ticket_num']?></td>
                      <td>
                      <span><a href="<?php echo site_url('admin/show_plan/show_delete/').$v['s_id']?>">删除</a></span>
                      <span onclick="xiugai();"><a href="<?php echo site_url('admin/show_plan/show_edit/').$v['s_id']?>">修改</a></span>
                        </td> 
                    </tr>
                    <?php endforeach ?>
                  </tbody>
                 </table>
                 </div>
                  <script type="text/javascript">
                 function xiugai(){
                 
              
                      window.location.href="<?php echo site_url() . '/admin/home/edit'?>";
                 
              
               }
            </script>
              
		
		  </article>
	</nav>
	</section>
</div>
</body>
</html>