<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="<?php echo base_url() . 'style/'?>style.css">

</head>
<body>
  <header>
      <b class="login"><span><?php echo  $_SESSION['u_name']; ?>
          <p>
            退出
          </p>
      </span></b>
      <!-- <b style="cursor: pointer;">登录</b> -->
      <h1>剧院管理系统</h1>
  </header>
  <section>
  <nav>s
    <ul class="aside">
       <li ><a href="<?php echo site_url('admin/home/index') ?>">影厅管理</a></li>
      <li ><a href="<?php echo site_url('admin/play/index') ?>">剧目管理</a></li>
      <li ><a href="<?php echo site_url('admin/show_plan/index') ?>">演出计划管理</a></li>
      <li class="active"><a href="<?php echo site_url('admin/ticket/index') ?>">票务管理</a></li>
      <li ><a href="<?php echo site_url('admin/user/index') ?>">用户管理</a></li>
    </ul>
		<article class="one" id="yingting">
		 <h1>票务管理</h1><br>
              <div class="table">
             <!--  <input type="button" value="+ 添加票务" onclick="add();" id="add"></input>
               <script type="text/javascript">
  
                 function add(){
                 
            
                      window.location.href="<?php echo site_url()?>";
              
              
               }
               </script> -->
               <table>
                <thead>
                    <!-- <th>计划ID</th -->
                    <th>剧目名称</th>
                    <th>所在影厅</th>
                    <th>播放时间</th>
                    <th>票数</th>
                     <th>票价</th>
                    <th>操作</th>
                  </thead>
                  <tbody>

                      <?php foreach($ticket as $v): ?>
                    <tr>
                      <!-- <td><?php echo $v['p_name']?></td> -->
                      <td><?php echo $v['p_name']?></td>
                      <td><?php echo $v['h_name']?></td>
                      <td><?php echo $v['up_time']?></td>
                       <td><?php echo $v['ticket_num']?></td>
                       <td><?php echo $v['price']?></td>
                      <td>
                      <span><a href="<?php echo site_url('admin/ticket/buy_ticket/').$v['s_id'] ?>">选座购票</a></span>
                      <!-- <span><a href="<?php echo site_url('web/goupiao.html/').$v['s_id'] ?>">选座购票</a></span> -->
                      <!-- <span><a href="">删除</a></span> -->
                      <!-- <span onclick="xiugai();"><a href="">修改</a></span> -->
                        </td> 
                    </tr>
                    <?php endforeach ?>
                  </tbody>
                 </table>
                 </div>
                  <script type="text/javascript">
                 function xiugai(){
                 
              
                      window.location.href="";
                 
              
               }
            </script>
              
		
		  </article>
