
    <article class="one" id="yingting">
     <h1>票务管理</h1>
            <div class="usually">
          <form action="<?php echo site_url('admin/home/edit_YT') ?>" method="POST">
          <div class="title">
                 <p>修改</p>
                  <span class="return" onclick="fanhui();">返回</span><script type="text/javascript">
           function fanhui() {
             window.history.go(-1);
           }
    </script>
                </div>
                <div class="form">
                 <input type="hidden" name="h_id" id="id" value="<?php echo $check[0]['h_id'] ?>" /><br>

                  <label for="id">计划Id</label><input type="text"  id="id" class="addId"><br>
                  <label for="place">所在影厅</label><input type="text" id="place" class="addId" name="name"><br>
                  <label for="jumu">演出剧目</label><input type="text" id="jumu" class="addId"><br>
                  <label for="kaishi_time">演出时间</label><br><input type="text" id="kaishi_time" class="addId"><br>
                  
                  <label for="cout">价格</label><input type="text" id="cout"class="addId"><br>
                  <input type="submit" value="保存" class="addsave" ><br>
                  </div>
                  </form>
           </div>
  </div>

</body>
</html>