<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="<?php echo base_url() . 'style/'?>style.css">

</head>
<body>
  <header>
      <b class="login"><span><?php echo  $_SESSION['u_name']; ?>
          <p>
            退出
          </p>
      </span></b>
      <!-- <b style="cursor: pointer;">登录</b> -->
      <h1>剧院管理系统</h1>
  </header>
  <section>
  <nav>s
    <ul class="aside">
       <li ><a href="<?php echo site_url('admin/home/index') ?>">影厅管理</a></li>
      <li ><a href="<?php echo site_url('admin/play/index') ?>">剧目管理</a></li>
      <li ><a href="<?php echo site_url('admin/show_plan/index') ?>">演出计划管理</a></li>
      <li ><a href="<?php echo site_url('admin/ticket/index') ?>">票务管理</a></li>
      <li class="active"><a href="<?php echo site_url('admin/user/index') ?>">用户管理</a></li>
    </ul>
		<article class="one" id="yingting">
		 <h1>用户管理</h1>
              <div class="table">
              <input type="button" value="+ 添加用户" onclick="add();" id="add"></input>
               <script type="text/javascript">
  
                 function add(){
                 
            
                      window.location.href="<?php echo site_url('admin/user/user_add')?>";
              
              
               }
               </script>
               <table>
                <thead>
                     <th>用户ID</th>
                    <th>用户名称</th>
                    <th>用户类型</th>
                    <th>用户等级</th>
                    <th>操作</th>
                  </thead>
                  <tbody>
                      <?php foreach($user as $v): ?>
                    <tr>
                      <td><?php echo $v['account'] ?></td>
                      <td><?php echo $v['u_name'] ?></td>
                      <td><?php if($v['type']==1) echo "超级管理员";  else echo "普通用户" ?> </td>
                      <td><?php echo $v['rank'] ?></td>
                      <td>
                      <span><a href="<?php echo site_url('admin/user/del_user/' . $v['uid']) ?>">删除</a></span>
                      <span onclick="xiugai();"><a href="<?php echo site_url('admin/user/edit_user/' . $v['uid']) ?>">修改</a></span>
                        </td> 
                    </tr>
                    <?php endforeach ?>
                  </tbody>
                 </table>
                 </div>
                  <script type="text/javascript">
                 function xiugai(){
                 
              
                      window.location.href="<?php echo site_url('admin/user/edit_user') ?>";
                 
              
               }
            </script>
              
		
		  </article>
	</nav>
	</section>
</div>
</body>
</html>